.burger__form {
  margin: 45px;
  display: grid;
}

fieldset {
  padding: 15px;
  border: none;
}

.form_radio_group {
	display: inline-block;
	overflow: hidden;
  display: flex;
}

.form_radio_group-item {
	display: inline-block;
}

.form_radio_group input[type=radio] {
	display: none;
}

.form_radio_group label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-right: none;
	user-select: none;
}

.form_radio_group .form_radio_group-item:first-child label {
	border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #999;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
	background: #ffe0a6;
}

/* Hover */
.form_radio_group label:hover {
	color: #666;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

.checkbox-btn {
	display: inline-block;
	margin: 0 5px 0 0;
	user-select: none;
	position: relative;
}
.checkbox-btn input[type=checkbox] {
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.checkbox-btn span {
	display: inline-block;
	cursor: pointer;
	padding: 0px 10px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 4px;
	transition: background 0.2s ease;
}
 
/* Checked */
.checkbox-btn input[type=checkbox]:checked + span {
	background: #ffe0a6;
}
 
/* Focus */
.focused span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover */
.checkbox-btn:hover {
	color: #666;
}
 
/* Active */
.checkbox-btn input[type=checkbox]:active:not(:disabled) + span {
	background: #d2c5ac;
	color: #000;
}
 
/* Disabled */
.checkbox-btn input[type=checkbox]:disabled + span {
	background: #efefef;
	color: #666;
	cursor: default;
}
.checkbox-btn input[type=checkbox]:checked:disabled + span {
	background: #f7efdc;
}

.burger__btn {
  margin-top: 5px;
	background-color: #2f2a2d;
	padding: 10px 20px;
	border: 1px solid transparent;
	color: #fafafa;
	border-radius: 5px;
	transition: all ease-in-out .4s;
	cursor: pointer;
}

.burger__btn:hover {
  background-color: transparent;
  border-color: #2f2a2d;
  color: #2f2a2d;
}

.count__btn {
	width: 30px;
	margin-top: 5px;
	background-color: #2f2a2d;
	padding: 0 5px;
	border: 1px solid transparent;
	color: #fafafa;
	border-radius: 5px;
	transition: all ease-in-out .4s;
	cursor: pointer;
	font-size: 30px;
}

.count__btn:hover {
	background-color: transparent;
  border-color: #2f2a2d;
  color: #2f2a2d;
}
